#nav {
  width: 100dvw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  gap: 30px;
  align-items: center;
}
#nav a {
  text-decoration: none;
  color: black;
}
#nav a:nth-last-child(1) {
  margin-right: 1dvw;
}
#webname {
  margin-right: auto;
  margin-left: 3dvw;
  font-size: 2.5rem;
}
body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
}
#dyn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
#dyn h1 {
  margin: auto;
}
.wall {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 10dvh;
}
